* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--dark_gray);
}

.container-style {
  display: flex;
  align-Items: center;
  gap: 70px;
}

.img-scale {
  position: relative;
  top: 50px;
  left: 30px;
}

.img-style {
  width: 50vw;
  height: auto;
}

.text-center {
  margin-left: 0;
  margin-top: 17vh;
}

.header-text {
  font-size: 2vw;
  padding: 20px;
}