.home-page {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.heroSection {
    display: flex;
    flex-direction: row;
}

.home-img {
    width: 100%;
}

.tagline {
    font-size: 6vw;
    font-weight: 200;
    width: 45%;
    position: relative;
    /* bottom: 50vh; */
    /* left: 5vw; */
    left: -85vw;
    top: 18vh;
    text-align: center;
    color: var(--dark_gray);
    z-index: 10;

}

.mission-section {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heart-img {
    /* min-height: 250px; */
    width: 250px;
    padding: 25px;
    /* height: 25vh; */
    /* margin: 5vw 8vw; */
}

.mission-stmt {
    font-size: 1.7rem;
    /* text-align: left; */
    color: var(--dark_gray);
    /* position: relative; */
    /* top: 8vw; */
}

.bold {
    font-weight: 600;
}

.login-section {
    background-color: var(--light_gray);
    /* min-height: 25vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#loginmsg {
    display: block;
}

#login-form {
    /* font-size: 5vh; */
    color: var(--dark_gray);
    min-width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid #B8B8B8;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    /* margin: 19vh 5vw; */
}

.form-control {
    width: 100%;
    margin-top: 25px;
}

.or {
    font-size: 2rem;
    /* margin: 19vh 5vw; */
}

#loginBtn {
    color: var(--dark_gray);
    padding: 10px;
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    font-size: 1.2rem;
    margin-top: 25px;
}

.signup-button {
    font-size: 1.2rem;
    color: var(--dark_gray);
    padding: 10px;
    /* margin: 19vh 5vw; */
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.signup-button:hover {
    border: outset 3px solid rgba(255, 188, 44, 0.85);
}

.services-section {
    background-color: var(--dark_gray);
    /* min-height: 45vh; */
    padding: 20px;
    /*display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
}

.services-title {
    font-size: 2rem;
    font-weight: normal;
    /* font-weight: 100; */
    color: var(--light_gray);
    margin-bottom: 25px;
    /* text-align: right; */
    /* margin: 18vh 0 18vh 2vw; */
}


.services-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    /* width: 56vw;
    margin: 5vh 1vw; */
    /* justify-content: space-between; */
}


.services-category {
    font-size: 1.2rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
    border-radius: 10px;
    min-height: 8vh;
    /* width: 15vw;
    min-width: 155px;
    padding-top: 4vh;
    margin: 2vh 1vw; */
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-button {
    font-size: 1.2rem;
    color: var(--dark_gray);
    padding: 10px 20px;
    /* margin: 20vh 0vw; */
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}


.charities-section {
    background-color: var(--primary);
    color: var(--dark_gray);
    /* min-height: 45vh; */
    padding: 20px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
}

.charities-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-weight: normal;
    color: var(--light_gray);
    margin-bottom: 25px;
    /* text-align: left; */
    /* position: relative; */
    /* top: 25vh; */
    /* margin: 0 2vw 0 2vw; */

}

.charities-button {
    font-size: 16pt;
    color: var(--dark_gray);
    padding: 10px 20px;
    /* margin: 26.5vh 0vw; */
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.charities-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.logo {
    /* flex: 1 1 2%; */
    /* flex: 1 1 30%; */
    height: 7vh;
}



@media (max-width: 900px) {
    .login-section {
        flex-direction: column;
        justify-content: center;
    }

    #login-form {
        min-width: 400px;
        margin-bottom: 0px;
    }

    .signup-button,
    .or,
    #loginBtn {
        font-size: 1rem;
    }

    .or {
        margin-bottom: 0px;
    }

    .signup-button {
        margin-bottom: 25px;
    }

    .mission-section {
        flex-direction: column;
    }

    .mission-stmt {
        font-size: 1.4rem;
    }

    /* 
    .services-section {
        flex-direction: column-reverse;
        justify-content: center;

    } */

    .services-categories {
        /* margin: 0; */
        /* margin-top: 25px; */
        margin-bottom: 25px;
    }

    .services-category {
        font-size: 1rem;
    }

    .charities-section {
        margin-bottom: 0px;
    }

    /* .services-title {
        margin-top: 25px;
        margin-bottom: 20px;
    } */

    .charities-logos {
        flex-direction: column;
    }

}