.profilePageContainer {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
    background-color: var(--light_gray);
    min-height: 100vh;
}

.list-group-item {
    background-color: var(--light_gray);
}

#profileHeader {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
    background-color: var(--light_gray);
}

.userDetailsSection {
    /* border: 2px solid red; */
    padding: 0;
}

.userSvcsDetailsSection {
    margin-right: 3rem;
}

/* #upcommingSvcs {
    border: 2px solid orange;
}

#pastSvcs {
    border: 2px solid purple;
} */
/*


/* .userDetails {
    background-color: var(--primary);
} */

.userPicAndPersonalDetails {
    display: flex;
    background-color: var(--primary);
}

.userPersonalDetails {
    margin-left: 0.9rem;
}

.userDet {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 0.9rem;
}

.userPic {
    margin-right: 2rem;
}

#aboutMeHeading {
    text-align: center;
}

#aboutMeHeading {
    padding-bottom: 2rem;

}

.aboutMe,
#aboutMeHeading {
    background-color: var(--light_gray);
    padding-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-bottom: 10px;

}

.aboutMe {
    font-weight: 300;
}

.userCharities {
    /* background-color: #cedecc; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
}

#svcsOffered {
    margin-top: 25px;
}

.list-group-item {
    font-weight: 500;
}

.profilePicImg {
    width: 30%;
    object-fit: cover;
}

.chLogo {
    height: 2.5rem;
}

.svcsSectionHeading {
    position: absolute;
    top: -34px;
    left: -2px;
    background-color: #d8e4d6;
    /* var(--accent); */
    padding: 0.4rem 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 500;
}

#upcommingSvcs {
    margin-bottom: 2rem;
    /* position: relative; */
}

#upcommingSvcscontainer,
#pastSvcscontainer {
    position: relative;
}

#upcommingSvcscontainer {
    margin-top: 31px;
}

#errMsg1 {
    text-align: center;
    margin-bottom: 1rem;
}

#upcommingSvcs,
#pastSvcs {
    margin-top: 4rem;
}

#acticeSvcs {

    margin-top: 2rem;
}

#upcommingSvcs,
#pastSvcs,
#acticeSvcs {
    padding: 4.2rem 3.4rem 3.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.075);
    max-height: 400px;
    overflow-y: auto;
}

.nav-tabs .nav-link.active {
    background-color: var(--accent);
    /* Change this to your preferred color */
    color: var(--dark_gray);
    font-weight: 500;
    /* Change text color to white */
}

.usrSvcCat {
    color: var(--dark_gray);
    font-weight: 500;
}

.usrSvcCat {
    /* Remove Bootstrap's hover effect */
    transition: none !important;
    background-color: transparent;
    /* Optional: remove background color */
}

.usrSvcCat:hover {
    /* Ensure that hover effect is completely removed */
    /* background-color: transparent !important; */
    color: inherit !important;
    /* Optional: remove color change on hover */
}

.userProfileAccordionItem .accordion-button {
    background-color: #d8e4d6;
    border-bottom: 1px solid var(--light_gray);
    font-weight: 500;
}

/* @media (max-width: 1100px) {



    #upcommingSvcs,
    #pastSvcs {

        justify-content: center;
    }
} */

@media (max-width: 1270px) {

    /* .profilePicImg {
        width: 10%;
    } */

    .userDetailsSection {
        margin: 0 auto;
        width: 30%;
    }

    .userSvcsDetailsSection {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 25px;
    }

    .profilePageContainer {
        flex-direction: column-reverse;
    }

    /* .kitaccitem {
        display: none;
    } */

}

@media (max-width: 1060px) {
    .userDetailsSection {
        margin: 0 auto;
        width: 40%;
    }

    .kitaccitem {
        display: none;
    }

}




@media (max-width: 780px) {
    .userDetailsSection {
        margin: 0 auto;
        width: 60%;
    }

    #upcommingSvcs,
    #pastSvcs,
    #acticeSvcs {

        justify-content: center;
    }

    .kitaccitem {
        display: none;
    }

    /* .profilePicImg {
        width: 30%;
    } */

    /* .userDet {
        font-size: 1rem;
    }

    .personname {
        font-size: 1.5rem;
    } */

    /* .userPicAndPersonalDetails {
        margin-bottom: 0.5rem;
    }*/
}

@media (max-width: 610px) {
    .userDetailsSection {
        margin: 0 auto;
        min-width: 60%;
    }


    #upcommingSvcs,
    #pastSvcs,
    #acticeSvcs {

        justify-content: center;
    }

    .kitaccitem {
        display: none;
    }

    /* .profilePicImg {
        width: 30%;
    } */

    /* 
    .userDet {
        font-size: 0.7rem;
    }

    .personname {
        font-size: 1rem;
    } */

    /* .userPicAndPersonalDetails {
        margin-bottom: 0.5rem;
    }*/
}

@media (max-width: 500px) {
    .userDetailsSection {
        margin: 0 auto;
        min-width: 100%;
    }

    #upcommingSvcs,
    #pastSvcs,
    #acticeSvcs {

        justify-content: center;
    }

    /* .userDet {
        font-size: 0.7rem;
    }

    .personname {
        font-size: 1rem;
    } */

}