* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_gray);
}

.services-page {
    background-color: var(--light_gray);
    margin: 0;
}

.services-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 30px;
}

.services-content {
    display: flex;
    font-weight: 300;
}

.services-filters {
    min-width: 260px;
    height: fit-content;
    border: 0.5px solid #B8B8B8;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    font-weight: 300;

}

.filter-title {
    text-align: center;
    margin: 20px 0;
}

.filter-categories,
.filter-charities {
    margin: 10px;
    border: .5px solid #B8B8B8;
    border-radius: 5px;
}

h5 {
    margin: 10px;
}

.radio {
    margin: 0 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.radio-buttons {
    margin: 0 5px;
    font-weight: 300;
}

.services-page-cards {
    display: flex;
    flex-wrap: wrap;
}
