.services-page {
    background-color: var(--light_gray);
    margin: 0;
}

.services-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    padding: 30px 0;
    align-items: center;
}

.services-header h1 {
    text-align: left;
}

#signUpErrMsg {
    text-align: center; 
    color: blue;
    font-size: 16pt;
    font-weight: 600;
}

.services-content {
    display: flex;
    font-weight: 300;
}

.services-filters {
    min-width: 260px;
    height: fit-content;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    margin: 0 5px 0 5px;
    font-weight: 300;
}

.filter-title {
    text-align: center;
    margin: 20px 0;
}

.filter-categories,
.filter-charities {
    margin: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    padding: 5px;
}

h5 {
    margin: 10px;
}

.radio {
    margin: 0 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.radio-buttons {
    margin: 0 5px;
    font-weight: 300;
}

.services-page-cards {
    display: flex;
    flex-wrap: wrap;
}

.svc-cards {
    margin: 5px;
}

@media screen and (max-width: 775px) {
    .services-header {
        display: flex;
        justify-content: center;
        height: auto;
        padding: 10px;
    }

    .services-content {
        display: flex;
        flex-direction: column;
    }

    .filter-title {
        text-align: center;
        margin: 5px 0;
    }

    .filter-sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 10pt;
        color: #2c2c2c;
    }

    .filter-categories,
    .filter-charities {
        margin: 5px;
        border: .5px solid #B8B8B8;
    }

    .radio {
        margin: 0 20px;
        font-weight: 300;
    }

    .services-page-cards {
        justify-content: center;
    }


}


