* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: var(--dark_gray);
}

.footer-style {
    background-color: var(--light_gray);
    color: var(--dark_gray);
    padding: 1rem;
    position: absolute;
    width: 100%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    padding: 20px;
}