.container-fluid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: none;
    max-width: 100vw;
}

.navbar-style {
    background-color: #9DBC98;
    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar-brand {
    z-index: 10;
}

.logo-style {
    height: 40px;
}

.navbar-toggler {
    z-index: 10;
}

.navbar-toggler:hover {
    background-color: #ffc956;
    border-radius: 5px;
    /* z-index: 11; */
}

.navbar-toggler:click {
    border: 1px solid var(--dark-gray);
}

.navbar-collapse {
    width: fit-content !important;
    flex-grow: 0;
}

.navbar-nav, 
.navbar-collapse {
    z-index: 10;
}

.nav-item-style {
    color: black;
    text-decoration: none;
}

.username-style {
    color: var(--dark-gray);
    opacity: 0.8;
    text-align: center;
}

.nav-link {
    font-weight: 300;
    z-index: 11;
}

.nav-link:hover {
    background-color: #ffc956;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {

    .logo-style {
        height: 32px;
    }

    .username-style {
        font-size: 10pt;
    }

}