* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: var(--dark_gray);
}

.card {
    color: var(--dark_gray);
    margin: 5px;
}

.svc-card-title {
    font-size: 12pt;
    background-color: var(--primary);
    padding: 5px;
    text-align: center;
}

.svc-card-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.svc-card-img {
    height: 100px;
    width: fit-content;
}

.svc-card-body {
    padding: 0;
    margin: 0;
}

.svc-card-provider {
    font-weight: 400;
    text-align: center;
    height: 25px;
    padding: 0;
    margin: 5px;
}

.svc-card-text-container {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* WHY ISN"T THIS WORKING? */
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.svc-card-text {
    font-size: 10pt;
    text-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
    padding: 0;
    margin: 10px;
}

.list-group-item {
    font-size: 11pt;
    padding: 5px 20px;
}

.svc-card-logo {
    height: 30px;
}

.svc-card-button {
    font-size: 14pt;
    color: var(--dark_gray);
    padding: 5px 15px;
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-decoration: underline solid var(--accent);  
    margin: 5px 0;  
}
.svc-card-button:hover {
    color: var(--dark_gray);
    background-color: rgba(255, 188, 44, 0.85);
    text-decoration: underline solid var(--accent);
}
