* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--dark_gray);
}


.card {
    height: 340px;
    border-radius: 10px;
}

.svc-card-title {
    font-size: 11pt;
    background-color: var(--primary);
    padding: 5px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
}

.svc-card-top-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.svc-card-img {
    height: 100px;
    max-width: 100px;
    width: fit-content;
    margin: 0 0 5px 5px;
}

.svc-card-provider {
    font-weight: 300;
    text-align: center;
    padding: 0;
    margin: 5px;
    font-size: 11pt;
}

.svcCardListGroup {
    border: 0 5px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.svcCardListGroupItem {
    font-size: 10pt;
    padding: 2px 10px;
    border: none;
    font-weight: 300;
}

.service-date {
    font-weight: 300;
}

.svc-card-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.svc-card-logo {
    height: 30px;
}

.svc-card-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 9pt;
    font-weight: 300;
    text-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    padding: 0;
    margin: 5px;
}

.svc-card-button {
    font-size: 12pt;
    font-weight: 300;
    color: var(--dark_gray);
    padding: 3px 10px;
    background-color: var(--accent);
    border: outset 3px solid var(--accent);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-decoration: underline solid var(--accent);
    margin: 5px 0;
}

.svc-card-button:hover {
    color: var(--dark_gray);
    background-color: rgba(255, 188, 44, 0.85);
    text-decoration: underline solid var(--accent);
}

.svc-card-button:active {
    color: var(--dark_gray);
    background-color: rgba(255, 188, 44, 0.85);
    text-decoration: underline solid var(--accent);
}